{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Your Watchlist</h2>
    <hr />
        <div class="row">
            {% for auction in watchlist %}
            <div class="col-3 mb-3">
                <div class="card" style="width: auto;">
                <img src="{{auction.image}}" height=200px class="card-img-top" alt="Image of {{auction.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{auction.name}}</h5>
                        <p> Starting bid: <b>$ {{auction.starting_bid}}</b>
                        <hr />
                        <a href="{% url 'single-auction' auction.id %}" class="btn btn-primary">View Details</a>
                        <a href="{% url 'remove-from-watchlist' auction.id %}"<i class="fas fa-eye-slash ml-3"></i></a><br>
                        <small>Being sold by {{auction.created_by|capfirst}}</small>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>You don't have any auction listings in your watchlist!
                 Go to <a href="{% url 'index' %}">active campaigns</a> <p>
            {% endfor %}
        </div>
</div>

{% endblock %}